

body{

	background: black;
	text-align: center;
	
	}
	
.main_frame{

	height:100px;
	width:100px;
	position: absolute;
	top: 60px;
	display:inline;

}
	
.frame{

	height: 900px;
	width:  700px;
	float:right;
	/*position: relative;*/
	/*top: 60px;
	left: 915px;*/
	
	
	}
	
.previous{

	vertical-align:bottom;
	height: 100px;
	width:  100px;
	float: left;
	top: 930px;
	left: 915px;
	
	}
	
.next{

	vertical-align:bottom;
	height: 100px;
	width:  100px;
	float: right;
	top: 930px;
	left: 1525px;
	
	}
	
.home_button{

	height: 50px;
	width:  50px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	
	}
	
	
.frame_2{


	background-color: white;
	height: 900px;
	width:  700px;
	float:left;
	/*position: relative;*/
	/*top: 60px;
	left: 215px;*/
	
	}
	
.info_button{

	height: 50px;
	width:  50px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	
	}
	
.about_chad{

	background-image: url('button.jpg');
	width: 300px;
	position: relative;
	top: 400px;
	display:inline;
	
	}
	
	
.credits{

	background-image: url('button.jpg');
	width: 300px;
	position: relative;
	top: 400px;
	display:inline;
	
	}

.about_FoLIO{

	background-image: url('button.jpg');
	width: 300px;
	position: relative;
	top: 400px;
	display:inline;
	
	}
	
.navb{

	background-image:url('navigation_TOP_divider.png');
	
	background-repeat: no-repeat;
	
	background-position: right;
	
	width:300px;
	
	height:70px;
	
	font-size:28px;
	
	color:black;
	
	padding-right:30px;
	
	padding-left:30px;
	
	font-family:"Georgia";
	
	text-align:center;
	
	line-height:40px;
	
	display:inline;

}

.navb:hover {

	background-color: #CCC;

}


a{

	text-decoration:none;

}
	
.menubar{

	background-image:url('main_nav_BG.jpg');
	
	height:50px;

}

.bm{
	
	background-image: url('button.jpg');
	width: 300px;
	font-size: 24px;
	position: relative;
	top: 0px;
	display:inline;
	
	}
	
	
.bm:hover {

	background-color: #CCC;

}

.table-of-contents_button{

	height: 50px;
	width:  50px;
	position: absolute;
	bottom: 0px;
	left: 70px;
	
	}
	
